<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>五子棋 | 打谱</title>
    <style type='text/css'>
        /** 滚动条 **/
        ::-webkit-scrollbar {
            width: 0px;
            height: 5px;
        }

        ::-webkit-scrollbar-button:vertical {
            display: none;
        }

        ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
            background-color: #2B2B2B;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: rgba(96, 98, 100, .3);
        }

        ::-webkit-scrollbar-thumb:vertical:hover {
            background-color: rgba(0, 0, 0, .35);
        }

        ::-webkit-scrollbar-thumb:vertical:active {
            background-color: rgba(0, 0, 0, .38);
        }

        canvas {
            display: block;
            margin: 20px auto;
            /*box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;*/
            cursor: pointer;
        }

        #wrap {
            display: flex;
            justify-content: space-between;
        }

        table {
            box-shadow: 1px 1px 3px gray;
        }
    </style>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" media="all">
</head>
<!--<body>-->
<body bgcolor="#2B2B2B">
<div id="wrap">
    <!--导航-->
    <div style="background: #2B2B2B;width:250px">

        <ul class="layui-nav layui-nav-tree  layui-nav-side" lay-filter="demo" style="margin-right: 10px;width: 250px">
            <li class="layui-nav-item"><a href="javascript:;" id="user_a">
                <img src="http://pic4.zhimg.com/50/v2-7fece9a613445edb78271216c8c20c6d_hd.jpg" class="layui-nav-img">
                &nbsp;请登录</a>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">
                <i class="layui-icon layui-icon-user" style="font-size: 18px; color: gray;"></i>
                &nbsp;我的好友</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;">哈哈
                            <span class="layui-badge layui-bg-orange">vip6</span>
                            <span class="layui-badge layui-bg-green">在线</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            无敌是duomo寂寞
                            <span class="layui-badge layui-bg-cyan">游戏中</span>
                        </a>
                    </dd>
                    <dd><a href="javascript:;" style="color: gray">选项三</a></dd>
                    <dd><a href="" style="color: gray">westwood</a></dd>
                    <dd><a href="javascript:;" style="color: gray">撒赖扩大静安寺</a></dd>
                    <dd><a href="javascript:;" style="color: gray">打网球大王</a></dd>
                    <dd><a href="javascript:;" style="color: gray">sdas</a></dd>
                    <dd><a href="javascript:;" style="color: gray">-</a></dd>
                    <dd><a href="javascript:;" style="color: gray">asdsd</a></dd>
                    <dd><a href="javascript:;" style="color: gray">选23213项三</a></dd>
                    <dd><a href="javascript:;" style="color: gray">wewq</a></dd>
                    <dd><a href="javascript:;" style="color: gray">老八</a></dd>
                    <dd><a href="javascript:;" style="color: gray">选项三</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">
                <i class="layui-icon layui-icon-dialogue" style="font-size: 18px; color: gray;"></i>
                &nbsp;消息中心<span class="layui-badge">99+</span></a>
            </li>
            <li class="layui-nav-item"><a href="">
                <i class="layui-icon layui-icon-windows" style="font-size: 18px; color: gray;"></i>
                &nbsp;对战电脑</a></li>
            <li class="layui-nav-item layui-this"><a href="">
                <i class="layui-icon layui-icon-form" style="font-size: 18px; color: gray;"></i>
                &nbsp;研究打谱</a></li>
            <li class="layui-nav-item"><a href="javascript:roomListShow();">
                <i class="layui-icon layui-icon-home" style="font-size: 18px; color: gray;"></i>
                &nbsp;对弈大厅<span class="layui-badge-dot"></span></a></li>
            <li class="layui-nav-item"><a href="javascript:collectionListShow();">
                <i class="layui-icon layui-icon-star" style="font-size: 18px; color: gray;"></i>
                &nbsp;我的收藏
            </a></li>
            <li class="layui-nav-item"><a href="javascript:;">
                <i class="layui-icon layui-icon-username" style="font-size: 18px; color: gray;"></i>
                &nbsp;个人中心</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:recordListShow();">
                        <i class="layui-icon layui-icon-read" style="font-size: 18px; color: gray;"></i>
                        &nbsp;对战记录</a>
                    </dd>
                    <dd><a href="javascript:userDetailShow();">
                        <i class="layui-icon layui-icon-tips" style="font-size: 18px; color: gray;"></i>
                        &nbsp;个人信息</a>
                    </dd>
                    <dd><a href="javascript:loginOut();">
                        <i class="layui-icon layui-icon-logout" style="font-size: 18px; color: gray;"></i>
                        &nbsp;登出
                    </a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:searchUser();">
                <i class="layui-icon layui-icon-search" style="font-size: 18px; color: gray;"></i>
                &nbsp;用户查找</a></li>
            <li class="layui-nav-item"><a href="javascript:loginOrRegister();">
                <i class="layui-icon layui-icon-light" style="font-size: 18px; color: gray;"></i>
                &nbsp;登录/注册</a></li>

        </ul>

    </div>

    <div id="chess_div" class="layui-anim layui-anim-scale">
        <canvas id="chess"></canvas>
    </div>

    <div id="room_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="room_table_div">
            <div class="layui-card" style="box-shadow: 1px 1px 3px gray;">
                <div class="layui-card-header">召唤师，欢迎您！</div>
                <div class="layui-card-body">
                    当前在线人数：1023
                </div>
            </div>
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入房间名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px"
                        onclick="creatRoom()">
                    创建房间
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>房间名</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>人数</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="data in dataList">
                    <td>{{data.id}}</td>
                    <td>
                        &nbsp; {{data.roomName}}
                        <i class="layui-icon layui-icon-password" style="font-size: 15px; color: gray;"></i>
                    </td>
                    <td>{{data.createUser}}</td>
                    <td>{{data.createTime}}</td>
                    <td><span class="layui-badge layui-bg-green">{{data.roomStatus}}</span></td>
                    <td>2/2</td>
                </tr>


                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>贤心</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-orange">游戏中</span></td>
                    <td>11/2</td>
                </tr>
                <tr id="room_page_tr" disabled="true" style="">
                    <td colspan="6">
                        <div id="room_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="collection_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="collection_table_div">
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入对局名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>房间名</th>
                    <th>白棋</th>
                    <th>黑棋</th>
                    <th>对局结果</th>
                    <th>对局结束时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        贤心的房间&nbsp;<i class="layui-icon layui-icon-password" style="font-size: 15px; color: gray;"></i>
                    </td>
                    <td>贤心222</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>贤心</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-orange">游戏中</span></td>
                    <td>11/2</td>
                </tr>
                <tr id="collection_page_tr" disabled="true" style="">
                    <td colspan="6">
                        <div id="collection_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="record_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="record_table_div">
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入对局名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>房间名</th>
                    <th>白棋</th>
                    <th>黑棋</th>
                    <th>对局结果</th>
                    <th>对局结束时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        贤心的房间&nbsp;<i class="layui-icon layui-icon-password" style="font-size: 15px; color: gray;"></i>
                    </td>
                    <td>贤心222</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>贤心</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-orange">游戏中</span></td>
                    <td>11/2</td>
                </tr>
                <tr id="record_page_tr" disabled="true" style="">
                    <td colspan="6">
                        <div id="record_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="user_detail_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div class="layui-card" style="box-shadow: 1px 1px 2px gray;width: 700px">
            <div class="layui-card-header" style="height: 70px;display: flex;justify-content: space-between;">
                <div style="margin-top: 10px">
                    <img src="http://pic4.zhimg.com/50/v2-7fece9a613445edb78271216c8c20c6d_hd.jpg"
                         class="layui-nav-img">
                    西部木头
                </div>
                <div id="user_start_div"></div>
            </div>
            <div class="layui-card-body" style="">
                <i class="layui-icon layui-icon-email" style="font-size: 18px; color: #1E9FFF;"></i>
                &nbsp;12312323321<br>
                <i class="layui-icon layui-icon-key" style="font-size: 18px; color: #1E9FFF;"></i>
                &nbsp;*************
                <br>
                <i class="layui-icon layui-icon-note" style="font-size: 18px; color: #1E9FFF;"></i>
                这个人懒死了，什么也没有喔&nbsp;(๑•́ ₃ •̀)

                <br>
                <i class="layui-icon layui-icon-login-wechat" style="font-size: 18px; color: #1E9FFF;"></i>
                <br>
                <i class="layui-icon layui-icon-login-qq" style="font-size: 18px; color: #1E9FFF;"></i>
                <br>
                <i class="layui-icon layui-icon-login-weibo" style="font-size: 18px; color: #1E9FFF;"></i>
            </div>
        </div>
        <button type="button" class="layui-btn" style="float: right;" onclick="updateUserDetail(this)">修改我的信息</button>
    </div>


    <div id="chess_config_div" class="layui-anim" data-anim="layui-anim-fadein" style="width: 300px;height: 700px">
        <!--        -->
    </div>
</div>
<!--jQuery-->
<script type="text/javascript" src="../static/js/jQuery/jQuery.js"></script>
<!--画棋盘和画棋子的方法-->
<script type="text/javascript" src="../static/js/myjs/gobang.js"></script>
<!--房间-->
<script type="text/javascript" src="../static/js/myjs/room.js"></script>
<!--收藏-->
<script type="text/javascript" src="../static/js/myjs/collection.js"></script>
<!--记录，用户-->
<script type="text/javascript" src="../static/js/myjs/user.js"></script>
<!--页面加载 用户事件-->
<script type="text/javascript" src="../static/js/myjs/gobangLoad.js"></script>
<!--laiui-->
<script src="https://www.layuicdn.com/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script type="text/javascript" charset="utf-8">

    var base_gobang_url = "http://localhost:8080";
    //导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    function displayWhat(dom_id) {
        var dom_arr = [];
        dom_arr = ["chess_div", "room_div", "collection_div", "record_div", "user_detail_div"];
        for (let i = 0; i < dom_arr.length; i++) {
            if (dom_id === dom_arr[i]) {
                $("#" + dom_arr[i]).show();
                continue;
            }
            $("#" + dom_arr[i]).hide();
        }
    }
</script>
</body>
</html>