<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>五子棋 | 研究</title>
    <style type='text/css'>
        /** 滚动条 **/
        ::-webkit-scrollbar {
            width: 0px;
            height: 5px;
        }

        ::-webkit-scrollbar-button:vertical {
            display: none;
        }

        ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
            background-color: #2B2B2B;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: rgba(96, 98, 100, .3);
        }

        ::-webkit-scrollbar-thumb:vertical:hover {
            background-color: rgba(0, 0, 0, .35);
        }

        ::-webkit-scrollbar-thumb:vertical:active {
            background-color: rgba(0, 0, 0, .38);
        }

        canvas {
            display: block;
            margin: 20px auto;
            /*box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;*/
            cursor: pointer;
        }

        #wrap {
            display: flex;
            justify-content: space-between;
        }

        .radius_img {
            border-radius: 50%
        }

        table {
            box-shadow: 1px 1px 3px gray;
        }

        /*棋盘配置字体颜色*/
        #chess_config_div {
            color: rgb(160, 189, 201);
        }
    </style>
    <link rel="icon" href="https://s1.ax1x.com/2020/04/06/GszKsJ.png">
    <link rel="stylesheet" href="../static/js/layui/css/layui.css" media="all">
</head>
<!--<body>-->
<body bgcolor="#2B2B2B">
<div id="wrap">
    <!--导航-->
    <div style="background: #2B2B2B;width:250px">

        <ul class="layui-nav layui-nav-tree  layui-nav-side" lay-filter="demo" style="margin-right: 10px;width: 250px">
            <li class="layui-nav-item">
                <!--vue = user_a -->
                <a href="javascript:clickMyself();" id="user_a">
                    <img v-if="!isSuccess || user.img==null"
                         src="https://s1.ax1x.com/2020/04/06/GsWKDH.jpg"
                         class="layui-nav-img">
                    <img v-else v-bind:src="user.img" class="layui-nav-img">

                    <span v-if="isSuccess">{{user.userName}} </span>
                    <span v-else>&nbsp;请登录 </span>
                </a>
            </li>
            <li class="layui-nav-item" id="my_friend_li">
                <a href="javascript:myFriendShow();">
                    <i class="layui-icon layui-icon-user" style="font-size: 18px; color: gray;"></i>
                    &nbsp;我的好友
                </a>
                <dl class="layui-nav-child" v-if="dataList != null && dataList.length>0">
                    <dd v-if="dataList != null && dataList.length>0" v-for="user in dataList">
                        <a href="javascript:;">{{user.userName}}
                            <span class="layui-badge layui-bg-green" v-if="user.status==1">在线</span>
                            <span class="layui-badge layui-bg-cyan" v-if="user.status==2">游戏中</span>
                            <span class="layui-badge layui-bg-gray" v-if="user.status==null">离线</span>
                            <span class="layui-badge layui-bg-gray" v-if="user.status==0">离线</span>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child" v-else style="display: none">
                    <dd>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-face-surprised" style="font-size: 18px; color: gray;"></i>
                            &nbsp;快去添加好友吧！
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-search" style="font-size: 18px; color: gray;"></i>
                            &nbsp;用户查找
                        </a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:showMsg();">
                    <i class="layui-icon layui-icon-dialogue" style="font-size: 18px; color: gray;"></i>
                    &nbsp;消息中心<span class="layui-badge">99+</span>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:comingSoon();">
                    <i class="layui-icon layui-icon-windows" style="font-size: 18px; color: gray;"></i>
                    &nbsp;对战电脑
                </a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="">
                    <i class="layui-icon layui-icon-form" style="font-size: 18px; color: gray;"></i>
                    &nbsp;研究
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:roomListShow();">
                    <i class="layui-icon layui-icon-home" style="font-size: 18px; color: gray;"></i>
                    &nbsp;对弈大厅<span class="layui-badge-dot"></span>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:collectionListShow();">
                    <i class="layui-icon layui-icon-star" style="font-size: 18px; color: gray;"></i>
                    &nbsp;我的收藏
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:checkIsLogin();">
                    <i class="layui-icon layui-icon-username" stylce="font-size: 18px; color: gray;"></i>
                    &nbsp;个人中心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:recordListShow();">
                        <i class="layui-icon layui-icon-read" style="font-size: 18px; color: gray;"></i>
                        &nbsp;对战记录</a>
                    </dd>
                    <dd onclick="userDetailShow()"><a>
                        <i class="layui-icon layui-icon-tips" style="font-size: 18px; color: gray;"></i>
                        &nbsp;个人信息</a>
                    </dd>
                    <dd><a href="javascript:loginOut();">
                        <i class="layui-icon layui-icon-logout" style="font-size: 18px; color: gray;"></i>
                        &nbsp;登出
                    </a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:searchUser();">
                    <i class="layui-icon layui-icon-search" style="font-size: 18px; color: gray;"></i>
                    &nbsp;用户查找
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:loginOrRegister();">
                    <i class="layui-icon layui-icon-light" style="font-size: 18px; color: gray;"></i>
                    &nbsp;登录/注册
                </a>
            </li>
        </ul>
    </div>

    <div id="chess_div" class="layui-anim layui-anim-scale">
        <canvas id="chess" style="width:700px; height:700px"></canvas>
    </div>

    <!--房间-->
    <div id="room_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="room_table_div">
            <div class="layui-card" style="box-shadow: 1px 1px 3px gray;">
                <div class="layui-card-header">棋圣，欢迎您！点击进入房间</div>
                <div class="layui-card-body">
                    当前在线人数：<span id="online_span"></span>
                </div>
            </div>
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入房间名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px"
                        onclick="creatRoom()">
                    创建房间
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>房间名</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>人数</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="data in dataList" v-on:click="joinRoom(data)">
                    <td>{{data.id}}</td>
                    <td>
                        &nbsp; {{data.roomName}}
                        <i class="layui-icon layui-icon-password" style="font-size: 15px; color: gray;"
                           v-if="data.roomPassword!=null&&data.roomPassword!=''"></i>
                    </td>
                    <td>{{data.createUserName}}</td>
                    <td>{{data.createTimeStr}}</td>
                    <td>
                        <span class="layui-badge layui-bg-green" v-if="data.roomStatus==1">空闲中</span>
                        <span class="layui-badge layui-bg-orange" v-else-if="data.roomStatus==2">对局中</span>
                        <span class="layui-badge layui-bg-gray" v-else-if="data.roomStatus==3">已结束</span>
                        <span class="layui-badge layui-bg-gray" v-else="data.roomStatus==3">已结束</span>
                    </td>
                    <td>{{data.roomNumber}}/2</td>
                </tr>
                <tr id="room_page_tr" disabled="true" style="">
                    <td colspan="6">
                        <div id="room_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--收藏-->
    <div id="collection_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="collection_table_div">
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入对局名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>房间名</th>
                    <th>白棋</th>
                    <th>黑棋</th>
                    <th>对局结果</th>
                    <th>对局结束时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        贤心的房间&nbsp;<i class="layui-icon layui-icon-password" style="font-size: 15px; color: gray;"></i>
                    </td>
                    <td>贤心222</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>木头的房间</td>
                    <td>木头</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-green">空闲</span></td>
                    <td>2/2</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>贤心</td>
                    <td>2016-11-29</td>
                    <td><span class="layui-badge layui-bg-orange">游戏中</span></td>
                    <td>11/2</td>
                </tr>
                <tr id="collection_page_tr" disabled="true" style="">
                    <td colspan="6">
                        <div id="collection_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--对战记录-->
    <div id="record_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div id="record_table_div">
            <div style="display: flex;">
                <input type="text" name="title" required lay-verify="required" placeholder="输入对局名以查找" autocomplete="off"
                       class="layui-input" style="box-shadow: 1px 1px 2px gray;">
                <button type="button" class="layui-btn  layui-btn-primary layui-btn-radius" style="margin-left: 20px">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
            <table class="layui-table" lay-skin="line" style="width: 740px;margin-top: 20px">
                <colgroup>
                    <!--                    <col width="150">-->
                    <!--                    <col width="200">-->
                    <!--                    <col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>黑棋</th>
                    <th>白棋</th>
                    <th>对局状态</th>
                    <th>结束时间</th>
                    <th>结果</th>
                    <th>游戏模式</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="data in recordList">
                    <td>{{data.id}}</td>
                    <td>{{data.blackUserName}}</td>
                    <td>{{data.whiteUserName}}</td>

                    <td v-if="data.goStatus == 0"><span class="layui-badge layui-bg-gray">已结束</span></td>
                    <td v-if="data.goStatus == 1"><span class="layui-badge layui-bg-orange">对局中</span></td>
                    <td v-if="data.goStatus == 2"><span class="layui-badge layui-bg-orange">对局中</span></td>


                    <td>{{data.endTime}}</td>

                    <td v-if="data.goResult==1">白胜</td>
                    <td v-if="data.goResult==2">黑胜</td>
                    <td v-if="data.goResult==null">无</td>

                    <td v-if="data.goType==1">围棋</td>
                    <td v-if="data.goType==2">五子棋</td>
                </tr>
                <tr id="record_page_tr" disabled="true" style="">
                    <td colspan="7">
                        <div id="record_page_div">
                            <!--            使用js加载分页-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--用户信息div-->
    <div id="user_detail_div" class="layui-anim layui-anim-scale" style="display: none;margin-top: 40px;">
        <div class="layui-card" style="box-shadow: 1px 1px 2px gray;width: 700px" v-if="user!=null">
            <div class="layui-card-header" style="height: 120px;display: flex;justify-content: space-between;">
                <div style="margin-top: 10px">

                    <img v-if="!isSuccess || user.img==null"
                         src="https://s1.ax1x.com/2020/04/06/GsWKDH.jpg"
                         width="100px" height="100px" class="radius_img">
                    <img v-else v-bind:src="user.img" width="100px" height="100px" class="radius_img">

                    <span v-if="isSuccess"
                          style="font-size: 30px;margin-top: 60px;margin-left: 30px;">{{user.userName}}</span>
                </div>

                <div id="user_start_div"></div>
            </div>
            <div class="layui-card-body" style="font-size: 15px;padding-top: 10px">
                <i class="layui-icon layui-icon-email"
                   style="font-size: 18px; color: #1E9FFF;font-family: 'Consolas'"></i>
                &nbsp;{{user.account}}<br>
                <i class="layui-icon layui-icon-key" style="font-size: 18px; color: #1E9FFF;"></i>
                &nbsp;*************
                <br>
                <i class="layui-icon layui-icon-note" style="font-size: 18px; color: #1E9FFF;"></i>
                纹枰论道

                <br>
                <i class="layui-icon layui-icon-login-wechat" style="font-size: 18px; color: #1E9FFF;"></i>
                <br>
                <i class="layui-icon layui-icon-login-qq" style="font-size: 18px; color: #1E9FFF;"></i>
                <br>
                <i class="layui-icon layui-icon-login-weibo" style="font-size: 18px; color: #1E9FFF;"></i>
            </div>
        </div>
        <button type="button" class="layui-btn" style="float: right;" onclick="updateUserDetail(this)">修改我的信息</button>
    </div>

    <!--棋盘配置-->
    <div id="chess_config_div" class="layui-anim" data-anim="layui-anim-fadein"
         style="width: 300px;height: 700px;margin-top: 20px;margin-right: 20px">
        <!--        -->
        <div id="chess_config_card_div" style="background: #333D49;">
            <div class="layui-card-body">当前位置：首页</div>

            <div class="layui-card-body">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <input type="radio" name="sex" value="nan" title="围棋" checked>
                        <input type="radio" name="sex" value="nv" title="五子棋">
                    </div>
                </form>
                <button type="button" class="layui-btn layui-btn-sm" onclick="showHandNum(this)">显示手数</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="cleanChess()">清空棋盘
                </button>
            </div>
            <div class="layui-card-body" style="height: 100px;margin-top: 30px">
                <div id="slideTest4" class="demo-slider"></div>
                <div style="margin-top: 20px">
                    <span>第 </span><span id="hand_num_span">0/0</span><span> 手</span>
                    <button type="button" class="layui-btn layui-btn-sm" style="float: right;margin-left: 10px" onclick="addPieces()">
                        <i class="layui-icon"></i></button>
                    <button type="button" class="layui-btn layui-btn-sm" style="float: right" onclick="cutPieces()">
                        <i class="layui-icon"></i>
                    </button>
                    <button type="button" class="layui-btn layui-btn-sm" style="float: right"
                            onclick="backChessToThis()">回退到此处
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<audio id="play" src="../static/media/play.wav" hidden="true"></audio>
<audio id="remove2" src="../static/media/remove2.wav" hidden="true"></audio>
<audio id="remove0" src="../static/media/remove0.wav" hidden="true"></audio>
<audio id="remove4" src="../static/media/remove4.wav" hidden="true"></audio>
<audio id="remove1" src="../static/media/remove1.wav" hidden="true"></audio>
<script type="text/javascript" src="../static/js/jQuery/jQuery.js"></script>
<!--画棋盘和画棋子的方法-->
<script type="text/javascript" src="../static/myjs/gobang/draw_board.js"></script>
<!--房间-->
<script type="text/javascript" src="../static/myjs/room.js"></script>
<!--收藏-->
<script type="text/javascript" src="../static/myjs/collection.js"></script>
<!--记录，用户-->
<script type="text/javascript" src="../static/myjs/user.js"></script>
<!--页面加载 用户事件-->
<script type="text/javascript" src="../static/myjs/gobang/place_event.js"></script>
<!--围棋-->
<script type="text/javascript" src="../static/myjs/go/go.js"></script>
<!--聊天-->
<script type="text/javascript" src="../static/myjs/msg/msg.js"></script>
<!--layui-->
<script src="../static/js/layui/layui.js" charset="utf-8"></script>
<!--vue-->
<script src="../static/js/vue/vue.min.js"></script>
<script type="text/javascript" charset="utf-8">

    $(initSlider(0));

    function initSlider(maxVal, curValue) {
        if (curValue == null) {
            curValue = maxVal;
        }
        $("#hand_num_span").html(curValue + "/" + maxVal);
        layui.use('slider', function () {
            let slider = layui.slider;
            slider.render({
                elem: '#slideTest4'
                , min: 0
                , value: curValue
                , max: maxVal
                , change: function (value) {
                    if (value == null || isNaN(value)) {
                        return;
                    }
                    $("#hand_num_span").html(value + "/" + (placeRecord.length));
                    reflash(value);
                }
            });
        });
    }

    function getHandNumArr() {
        let str = $("#hand_num_span").html();
        str = str.replace("第 ", "").replace(" 手", "");
        let result = []
        result[0] = Number(str.split("/")[0]);
        result[1] = Number(str.split("/")[1]);
        return result;
    }

    function addPieces() {
        let curNum = getHandNumArr()[0];
        if (++curNum <= getHandNumArr()[1]) {
            initSlider(placeRecord.length, curNum);
            reflash(curNum);
        }
    }

    function cutPieces() {
        let curNum = getHandNumArr()[0];
        if (--curNum >= 0) {
            initSlider(placeRecord.length, curNum);
            reflash(curNum);
        }
    }

    $(function () {
        game_mode = 2;
    });

    var base_gobang_url = "http://localhost:8080";
    //导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;
    });

    layui.use('form', function () {
        var form = layui.form;
    });

    function displayWhat(dom_id) {
        var dom_arr = [];
        dom_arr = ["chess_div", "room_div", "collection_div", "record_div", "user_detail_div", "chess_config_card_div"];
        for (let i = 0; i < dom_arr.length; i++) {
            if (dom_id === dom_arr[i]) {
                $("#" + dom_arr[i]).show();
            } else {
                $("#" + dom_arr[i]).hide();
            }
        }
    }

    function comingSoon() {
        alertLayer("敬请期待");
        return false;
    }


    function showMsg() {
        layui.use('layer', function () {
            let layer = layui.layer;
            layer.open({
                type: 2,
                title: '消息中心',
                shadeClose: false,
                shade: 0.5,
                maxmin: false, //开启最大化最小化按钮
                area: ['893px', '100%'],
                resize: false,
                content: 'http://localhost/templates/msg2.html'
            });
        });
    }
</script>
</body>
</html>