<html>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">

    <!--    <link rel="stylesheet" href="/js/layui/css/layui.css"  media="all">-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <style>
        /*web background*/
        .container{
            display:table;
            height:100%;

        }

        .row{
            display: table-cell;
            vertical-align: middle;

        }
        /* centered columns styles */
        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            text-align:left;
            margin-right:-4px;
        }
    </style>

</head>
<body bgcolor="#ffc0cb" background="https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png">
<div class="container" style="width: 65%;">
    <div class="row row-centered">
        <div class=" well col-md-6 col-centered" style="background: white">
            <h2>欢迎登录</h2>
            <br>
            <br>
            <form action="/login" method="post" role="form">
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="" style="background: white"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="userid" name="userid" placeholder="请输入用户ID"/>
                </div>
                <br>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="" style="background: white"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
                </div>
                <br/>
                <a href="" class="">忘记密码？</a>
                <br/>
                <button type="submit" class="btn btn-success row-centered" style="width: 61%;">登录</button>
                <a class="btn btn-default" href="#" role="button" style="width: 37%">注册</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>