<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xrc.gb.repository.dao.UserDAO" >
  <resultMap id="BaseResultMap" type="com.xrc.gb.repository.domain.user.UserDO" >
    <id column="user_id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_account" property="account" jdbcType="VARCHAR" />
    <result column="user_password" property="password" jdbcType="VARCHAR" />
    <result column="user_power" property="userPower" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />

    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="autograph" property="autograph" jdbcType="VARCHAR" />
    <result column="friend" property="friend" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_account, user_password, user_power, create_time, modify_time, img, autograph, friend, `status`
  </sql>

  <select id="queryByUserName" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />
    from gb_user
    where user_name=#{account}
  </select>
  <select id="queryByAccountAndPwd" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />
    from gb_user
    where user_account=#{account} and user_password=#{pwd}
  </select>
  <select id="queryByAccount" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />
    from gb_user
    where user_account=#{account}
  </select>
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gb_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from gb_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xrc.gb.repository.domain.user.UserDO" >
    insert into gb_user ( user_name, user_account,
      user_password, user_power, create_time,
      modify_time, img, autograph, friend, `status`)
    values ( #{userName,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{userPower,jdbcType=INTEGER}, now(),
      now(), #{img,jdbcType=VARCHAR}, #{autograph,jdbcType=VARCHAR}, #{friend,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="update" parameterType="com.xrc.gb.repository.domain.user.UserDO" >
    update gb_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        user_account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        user_password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userPower != null" >
        user_power = #{userPower,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="autograph != null" >
        autograph = #{autograph,jdbcType=VARCHAR},
      </if>
      <if test="friend != null" >
        friend = #{friend,jdbcType=VARCHAR},
      </if>
      <if test=" status!= null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
        modify_time = now(),
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>